<br> <br>
<div class="panel panel-default">
    <div class="panel-heading custom_class">  
      <h1 align="center"> Staff Details </h1>
    </div>
</div>
<br>
<div class="card">
  <div class="card-body">
        <h2 align="center" style="color: #000080;"><u>Library Technologies</u> </h2><br>
   <table class="table table-striped" class="table table-bordered">
       
          <thead >
            <tr>
              <td>Name</td>
              <td>Designation</td>
              <td>Email</td>
              <td>Phone</td>
              <td>Photo</td>
            </tr>
          </thead>
          <tbody>
              <tr >
                  <td>Muhammad Aamir Usmani</td>
                  <td>Director of Library Technologies</td>
                  <td>Muhammad.usmani@wichita.edu</td>
                  <td>316-978-5131</td> 
                  <td>
                      <img src="assets/img/sir-withlogo copy.jpg" class="img-rounded" class="img-thumbnail" style="width:200px;height:200px;">
                  </td>
              </tr>
              <tr >
                  <td>Samuel Willis</td>
                  <td>Technology Development Librarian</td>
                  <td>samuel.willis@wichita.edu</td>
                  <td>316-978-5104</td> 
                  <td>
                      <img src="assets/img/SWillisSquare.jpg" class="img-rounded" class="img-thumbnail" style="width:200px;height:200px;">
                  </td>
              </tr>
              <tr >
                  <td>Anthony Caldwell</td>
                  <td>Technology Support Analyst</td>
                  <td>anthony.caldwell@wichita.edu</td>
                  <td>316-978-5678</td> 
                  <td>
                      <img src="assets/img/anthony-withlogo copy.jpg" class="img-rounded" class="img-thumbnail" style="width:200px;height:200px;">
                  </td>
              </tr>
          </tbody>
        </table>
        <br>
        
          <h3 align="center" style="color: #000080;"><u>Projects/ C-Space Team</u></h3> 
          <br>
          <table class="table table-striped" class="table table-bordered">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Designation</td>
                    <td>Email</td>
                   
                    <td>Photo</td>
                  </tr>
            </thead>
            <tbody>
                <tr >
                    <td>Mary Chandana Matla</td>
                    <td>Graduate Assistant</td>
                    <td>mxmatla@shockers.wichita.edu</td>
                    
                    <td>
                        <img src="assets/img/Mary-withlogo copy.jpg" class="img-rounded" class="img-thumbnail" style="width:200px;height:200px;">
                    </td>
                </tr>
                <tr >
                    <td>Nimisha Niyogi</td>
                    <td>Graduate Assistant</td>
                    <td>nbniyogi@shockers.wichita.edu</td>
                   
                    <td>
                        <img src="assets/img/nimisha-withlogo copy.jpg" class="img-rounded" class="img-thumbnail" style="width:200px;height:200px;">
                    </td>
                </tr>
                <tr >
                    <td>Hamza Khan</td>
                    <td>Graduate Assistant</td>
                    <td>mxkhan29@shockers.wichita.edu</td>
                    
                </tr>
                <tr >
                    <td>Josil Maniangat</td>
                    <td>Graduate Assistant</td>
                    <td>jkmaniangat@shockers.wichita.edu</td>
                    
                    <td>
                        <img src="assets/img/josil-withlogo copy.jpg" class="img-rounded" class="img-thumbnail" style="width:200px;height:200px;">
                    </td> 
                </tr>
                <tr>
                    <td>Alina Huda</td>
                    <td>Graduate Assistant</td>
                    <td>axhuda@shockers.wichita.edu</td>
                    <td>
                            <img src="assets/img/alina-withlogo copy.jpg" class="img-rounded" class="img-thumbnail" style="width:200px;height:200px;">
                    </td>
                </tr>
            </tbody>
          </table>
          <br> 
          

          <h3 align="center" style="color: #000080;"><u>Systems Team</u></h3> <br>
        <table class="table table-striped" class="table table-bordered">
            <thead>
              <tr>
                <td>Name</td>
                <td>Designation</td>
                <td>Email</td>
             
                <td>Photo</td>
              </tr>
            </thead>
            <tbody>
                    <tr >
                            <td>Asif Khan</td>
                            <td>Graduate Assistant</td>
                            <td>axmohammad3@shockers.wichita.edu</td>
                            <td>
                                <img src="assets/img/asif-withlogo copy.jpg" class="img-rounded" class="img-thumbnail" style="width:200px;height:200px;">
                            </td>
                        </tr>
                        <tr >
                            <td>Danish Charolia</td>
                            <td>Graduate Assistant</td>
                            <td>dxcharolia@shockers.wichita.edu</td>
                            <td>
                                <img src="assets/img/danish-withlogo copy.jpg" class="img-rounded" class="img-thumbnail" style="width:200px;height:200px;">
                            </td> 

                    <tr >
                        <td>Hamza Aslam</td>
                        <td>Graduate Assistant</td>
                        <td>hxaslam@shockers.wichita.edu</td>
                        <td>
                            <img src="assets/img/Aslam-withlogo.jpg" class="img-rounded" class="img-thumbnail" style="width:200px;height:200px;">
                        </td>
                    </tr>
                    
                    <tr >
                        <td>Luqman Syed</td>
                        <td>Graduate Assistant</td>
                        <td>lxsyed@shockers.wichita.edu</td>
                        <td>
                            <img src="assets/img/luqman-withlogo copy.jpg" class="img-rounded" class="img-thumbnail" style="width:200px;height:200px;">
                        </td> 
                    </tr>
                    <tr >
                        <td>Hummad Malhi</td>
                        <td>Graduate Assistant</td>
                        <td>hamalhi1@shockers.wichita.edu</td>
                        <td>
                            <img src="assets/img/hamad-withLogo.jpg" class="img-rounded" class="img-thumbnail" style="width:200px;height:200px;">
                        </td> 
                    </tr>
                    <tr >
                        <td>Akshay Menon</td>
                        <td>Graduate Assistant</td>
                        <td>agmenon@shockers.wichita.edu</td>
                        <td>
                            <img src="assets/img/akshay-withlogo copy.jpg" class="img-rounded" class="img-thumbnail" style="width:200px;height:200px;">
                        </td> 
                    </tr>

            </tbody>
          </table>
          <br> 
         
          <h3 align="center" style="color: #000080;"><u>Help-Desk</u></h3> 
          <br>
          <table class="table table-striped" class="table table-bordered">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Designation</td>
                    <td>Email</td>
                    <td>Photo</td>
                  </tr>
            </thead>
            <tbody>
                    <tr >
                            <td>Fedrica Johnson</td>
                            <td>Student Assistant</td>
                            <td>fpjohnson@shockers.wichita.edu</td>
                            <td>
                                <img src="assets/img/Fedrika-withlogo copy.jpg" class="img-rounded" class="img-thumbnail" style="width:200px;height:200px;">
                            </td> 
                    </tr>
                    <tr >
                            <td>Mubasshir Karim</td>
                            <td>Student Assistant</td>
                            <td>mtkarim@wichita.edu</td>
                           
                    </tr>
                    <tr >
                            <td>Bilal Ahmed</td>
                            <td>Student Assistant</td>
                            <td>bxahmed2@shockers.wichita.edu</td>
                            
                    </tr>
                    <tr >
                            <td>Kayla Brizendine</td>
                            <td>Student Assistant</td>
                            <td>kabrizendine@shockers.wichita.edu</td>
                            
                    </tr>
                    <tr >
                        <td>Kathlynn Short</td>
                        <td>Student Assistant</td>
                        <td>kgshort@shockers.wichita.edu</td>
                        
                </tr>

            
            </tbody>
            </table>
  </div>
</div>
