<br> <br>
<div class="panel panel-default">
  <div class="panel-heading custom_class">  
    <h1 align="center">
      Welcome to System Interface
    </h1>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
        <p> Welcome to system Interface!! System interface is made for library technologies students to function better as a team. This Interface provide you te complete information of what are the duties of helpdesk , c-space/ projects, systems student. Also, the rule and the polices are listed for the same.
            This also gives a brief information about what facilities we have in library.
        </p> 
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
        <h3>Why do we need it?</h3>
        <ul>
          <li>System interface has all the different on-going and completed projects information.</li>
          <li>It has troubleshooting details and all the information needed by systems team.</li>
          <li>This interface also has guidelines of helpdesk responsiblitites. </li>
          <li>This interface will help us to keep everything documented and saved properly.</li>
        </ul>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h3>Mission and Goal</h3>
        <p>Our mission is to provide every possible facility to students and staff to make the most of the resources available and to make the library a sophisticated one. Libary technologies are responsible for all the technical maintainece, helping the patron with there issues in libraries i.e. Ablah library, Music Library, Chemistry Library. </p>
        <p>Library Technologies is involved in updating the Library with the latest technologies and implementing new technologies. Till now we have implemented many technologies that include Dspace, University Computer Available Tracking System, Digitization, Inventory and the list goes on.</p>
        <p>Want to know who works here! <b>Click on Staff Details</b></p>
        
    </div>
  </div>
</div>
<br>

